body{
    background-color:#1F2833;     
}

.text{
    background-color:#1d1f25;    
    color: white;
    border-radius: 5px;
    margin:0 4rem 4rem 4rem; 
    padding: 3rem 5rem;
    line-height: 50px;
    font-family: jura, 'Segoe UI', Tahoma, Verdana, sans-serif,'Courier New', Courier, monospace;
    font-size: 1.5rem; 
}

p{
    word-spacing: 7px;
    padding: 16px;
}

/* Sort buttons */
.sorts{
    cursor: pointer;
    border-radius: 32px;
    border: 3px solid black;
    font-size: 2rem;
    padding: 12px 24px;;
    background-color:#CFC6C7;
    margin: 20px;  
 }

.sorts:hover{
background-color: #45A29E;
color: white;
border: 3px solid black;
transition-duration: 0.5s;
transform: scale(1.2);
 }

.sort-btn{
    display: flex;
    justify-content:center;
    align-items: center;
 }



/* Go to top button */
#TopBtn {
    display: none; 
    position: fixed;
    bottom: 40px;
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #45A29E;
    color: white; 
    cursor: pointer;
    padding: 10px; 
    border-radius: 200px;
    font-size: 18px;
    /* overflow: hidden; */
}
  
#TopBtn:hover {
    background-color: #0B0C10;
} 

ion-icon{
font-size: 150%;
}

/* Responsive */
@media only screen and (width< 912px){
    .text{
    margin:0; 
    padding: 2rem;
    }
    .sort-btn{
        flex-direction: column;
    }
    }