
.text{
    background-color:#242e4c;    
    color: #e8e8e8;
    border-radius: 5px;
    margin: 18px 100px; 
    padding: 70px 100px;
}

.contact-img-size{
    height: 35px;
    width: 35px;
    border-radius: 10px;
}

.centre-text{
    padding-top: 35px;
    text-align: center;
    line-height: 20px;
    font-family: jura, 'Courier New', Courier, monospace;
    font-weight:bolder; 
}


.big{
    text-decoration: underline;
   font-size: x-large;
 }

 .links{
    color: #a29bfe;
    text-decoration: underline #a29bfe;
 }

 body{
    background-color:#1a1a2e;    
}

.jura{
    font-family: jura, 'Segoe UI', Tahoma, Verdana, sans-serif,'Courier New', Courier, monospace;
}
