.text{
    background-color:#242e4c;    
    color: #e8e8e8;
    border-radius: 5px;
    margin: 18px 100px; 
    padding: 70px 100px;
    line-height: 50px;
    font-family: jura, 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    font-weight: bold;
}

.bg-img{
    /* background-image:#1a1a2e url("about\ us.png"); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

body{
    background-color:#1a1a2e;   
}
    
p{
    word-spacing: 7px;
    padding: 16px;
}
